<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вход в систему</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <!-- Подключение Bootstrap -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <!-- Подключение кастомной темы -->
  <link rel="stylesheet" th:href="@{/css/custom-theme.css}"/>
  <script th:src="@{/js/validation.js}"></script>
</head>
<body>
<div class="container">

  <div class="header">
  <h2>Вход в систему</h2>
  </div>
  <div class="form-container">
    <form action="/login" method="post" onsubmit="return validateForm()">

      <div class="form-group">
        <label for="userName">Логин:</label>
        <input type="text" id="userName" name="userName" placeholder="Введите логин" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="userPwd">Пароль:</label>
        <input type="text" id="userPwd" name="userPassword" placeholder="Введите пароль" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-custom">Войти</button>

    </form>
    <p id="error-message" style="color: red;"></p>
  </div>
  <div th:if="${error}">
    <p style="color: red;">Такого пользователя не существует или пароль не верный</p>
  </div>

  <br>
  <p class="registration-link">Еще нет аккаунта?<a class="registration-link" th:href="@{/registration}">Зарегистрироваться</a>
  </p>

</div>
</body>
</html>